#intro{
    /* width: 1366px; */
    height: 750px;
    background-image: url(../assets/imagens/Background_Intro.png);
    background-size: cover;
}
#intro{
    align-content: start;
}
#tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.muie{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 56px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    p{
        width: 50em;
    }
}

#projetos{
background-color: var(--gray-200);
/* width: 1366px; */
height: 917px;
padding: 72px 120px;
display: grid;
justify-content: center;
}