#intro{
    /* width: 1366px; */
    height: 750px;
    background-image: url(../assets/imagens/Background_Intro.png);
    background-size: cover;
}
#intro{
    align-content: start;
}
#tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.muie{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 56px;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    p{
        width: 50em;
    }
}

#projetos{
background-color: var(--gray-200);
/* width: 1366px; */
height: 917px;
padding: 72px 120px;
display: grid;
justify-content: center;
}

#services{
background-color: var(--gray-100);
/* width: 1366px; */
height: 480px;
padding: 88px 120px 120px 120px;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}

#Contato{
background-image: url(../assets/imagens/Background_Contacts.png);
background-size: cover;
background-repeat: no-repeat;
/* width: 1366px; */
height: 787px;
padding: 128px 120px 200px 120px;
}

.tags2{
margin-top: 48px;
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
justify-content: center;
}